/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #005689;
    color: #fff;
}

.logo img {
    max-width: 150px;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin-right: 1rem;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    padding: 0.5rem;
}

.banner {
    background-image: url("D:\images.jpeg");
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
}

.banner-content {
    max-width: 800px;
}

.banner-content h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.banner-content p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.btn {
    display: inline-block;
    background-color: #005689;
    color: #fff;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #004f7b;
}

.main-content {
    padding: 2rem;
    background-color: #f0f0f0;
}

.content-wrapper {
    max-width: 800px;
    margin: auto;
}

.main-content h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.main-content p {
    font-size: 1.1rem;
    line-height: 1.8;
}

.about, .departments {
    padding: 20px;
    text-align: center;
}

.department-list {
    display: flex;
    justify-content: space-around;
}

.department {
    flex: 1;
    margin: 10px;
    padding: 20px;
    background: #f4f4f4;
    border-radius: 10px;
}

.footer-content {
    background-color: #005689;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer-content p {
    margin: 0;
}
